.menu {
    display: flex;
    justify-content: space-between;
}
.container {
    width: 1080px;
    margin: 0 auto;
}
.headerMenu ul li{
    display: inline-block;
    padding: 20px;
}
.logo {
    padding-top: 23px;
    font-weight: bold;
    font-size: 30px;
}
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.product-info {
    text-align: center;
}

.product-title {
    font-size: 1.2em;
    margin: 0 0 30px;
}

.product-price {
    font-size: 1.1em;
    color: #f00;
    margin: 0 0 15px;
}

.product-description {
    font-size: 0.9em;
    color: #555;
    margin: 0 0 15px;
}

.buy-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.buy-button:hover {
    background-color: #218838;
}
.cardContainer {
    display: flex;
    flex-wrap: wrap;
}
.topRatedContainer {
    display: flex;
    justify-content: end;
}

.topRatedButton {
    background: #28a745;
    padding: 6px 12px;
    border: 1px solid #28a745;
    color: #f5f5f5;
    border-radius: 3px;
    cursor: pointer;
}